/* css rule */
h1 {
  color: green;
  font-size: 4rem;
}

/* selectors */
h1

/* declaration block */
{
  color: green;
  font-size: 4rem;
}

/* declaration */
color: green;
font-size: 4rem;

/* property */
color: 
font-size:

/* value */
green
4rem